repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.4
    hooks:
      - id: check-jsonschema
        name: check pyproject schema
        files: ^pyproject\.toml$
        args: ["--schema", "https://json.schemastore.org/pyproject.json"]
